#header-nav {
  border-radius: 0;
  /* Use default border-bottom only */
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

#header-nav h1 {
	font-size: 1.7em;
	margin: 0;
}

#main-content h2 {
	margin-bottom: 30px;
}

#main-content section {
	margin-bottom: 50px;
	padding: 10px 15px;
	background-color: #EFEFEF;
}

#main-content section p:last-child {
	margin-bottom: 0px;
}

.navbar-header .navbar-brand {
  height: 60px;
}